# vim:ft=ansible:
---
- block:
  - name: Create the group
    group:
        name: fecs
        state: present
  - name: Create the user
    user:
        name: fecs
        comment: "Fake Expat Claim Service"
        groups: fecs
        system: yes
        #seuser: no
  - name: Clone the service
    git:
        repo: https://github.com/dwp-technology-design/fake-expat-claim-service.git
        dest: /opt/fake-expat-claim-service
  - name: Install dependencies
    command: make package
    args:
     chdir: /opt/fake-expat-claim-service
  - name: Change Ownership
    file:
        path: /opt/fake-expat-claim-service
        owner: fecs
        group: fecs
        recurse: yes
        state: directory
        #selevel:
        #setype: 
        #serole: 
  - name: Create logging folder
    file:
        path: /var/log/fecs
        owner: fecs
        group: fecs
        state: directory
  - name: Create sockets folder
    file:
        path: /var/run/fecs
        owner: fecs
        group: nginx
        state: directory
        mode: "g+xrs"
  - name: Copy the systemd manifest
    copy: src=fake-expat-claim-service.service dest=/etc/systemd/system/fake-expat-claim-service.service 
  - name: Enable the Service
    command: systemctl enable fake-expat-claim-service.service
  become: yes
  become_method: sudo
